@import url('https://fonts.googleapis.com/css2?family=Mada:wght@500;600&family=Mukta+Vaani:wght@300;400&family=Overpass:wght@200;300;400;500&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* fix for chrome web browser when selecting a cached 
ingredient to not render the search box white */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s;
}

/* General styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* Generic project styles */
  color: #3a3a3a;
  font-family: 'Mada', sans-serif;
  background-color: #EAE0D5;
}

header {
  color: #fff;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero-image.webp) no-repeat fixed center;
}

main {
  flex-grow: 1;
  color: #fff;
}

h1 {
  font-size: 60px;
  text-transform: uppercase;
  text-align: center;
  margin: 25px 2px 10px;
}

h2,
h3 {
  font-family: 'Mukta Vaani', sans-serif;
}

p {
  font-family: 'Overpass', sans-serif;
  line-height: 25px;
}

/* header */
#title {
  margin-top: 3%;
}

#landing-text {
  font-size: 14px;
  padding: 10px;
  align-self: center;
  text-align: center;
}

/* Main content */
.recipe-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

/* Search bar */
.search {
  background: #444;
  background: rgba(0, 0, 0, .2);
  border-radius: 3px;
  border: 1px solid #fff;
}

#search-term {
  padding: 10px 5px;
  float: left;
  color: #ccc;
  border: 0;
  background: transparent;
  border-radius: 3px 0 0 3px;
  width: calc(100% - 100px);
}

#search-term:focus {
  outline: 0;
  background: transparent;
}

#search-btn {
  position: relative;
  float: right;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 40px;
  width: 100px;
  color: #fff;
  background: transparent;
  border-left: 1px solid #fff;
  border-radius: 0 3px 3px 0;
}

#random-btn {
  position: relative;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 42px;
  width: 100px;
  color: #fff;
  background: transparent;
  border-radius: 0 3px 3px 0;
  border: 1px solid #fff;
}

#search-btn:hover,
#random-btn:hover {
  background: #fff;
  color: #000;
}

#search-btn:focus,
#random-btn:focus {
  outline: 0;
}

#instructions {
  margin-top: 10vh;
  margin-bottom: 10px;
  text-align: center;
}

kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.2),
    0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: #333;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}

#returned-recipe-container {
  background-color: #EAE0D5;
}

/* Dynamic recipe cards */
#returned-recipe-container img {
  max-width: 100%;
  width: 496px;
  height: auto;
  vertical-align: bottom;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.recipe-card {
  background-color: #F8F9F7;
  margin: 4em auto;
  width: 90%;
  max-width: 382px;
  min-height: 700px;
  height: fit-content;
  color: black;
  border: 2px solid #D00000;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.recipe-card a {
  color: #000;
  text-decoration: none;
}

.recipe-card a:hover {
  cursor: pointer;
}

.recipe-card aside {
  position: relative;
}

.recipe-card article {
  padding: 1.25em 1.5em 4em;
  background-color: #fff;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.recipe-card ul {
  list-style: none;
  margin: 0.5em 0 0;
  padding: 0;
  text-align: center;
  border: none;
}

.recipe-card .recipe-info li {
  display: inline-block;
  margin-left: 1em;
  line-height: 1em;
}

.recipe-card ul li:first-child {
  margin-left: 0;
}

.recipe-card ul li .icon {
  vertical-align: bottom;
  color: black;
}

.recipe-card ul li span:nth-of-type(2) {
  margin-left: 0.5em;
  font-weight: 300;
  vertical-align: middle;
}

article .ingredient-list {
  list-style-type: disc;
  margin-left: 1em;
  line-height: 1.5em;
}

.recipe-card h2,
.recipe-card h3 {
  margin: 0;
  font-weight: 300;
}

.recipe-card h2 {
  font-size: 24px;
  text-align: center;
  height: 80px;
}

.recipe-card h3 {
  font-size: 22px;
  text-transform: capitalize;
  text-align: center;
  margin: 0.5em 0;
}

.recipe-card p {
  border-top: 2px solid #000;
  margin: 1.25em 0;
  font-weight: 400;
  font-size: 16px;
}

#error-handler {
  text-align: center;
  margin: 25px 0;
}

#returned-recipe-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Style the button that is used to open and close the collapsible content */
.ingredient-btn,
#recipe-link-btn {
  font-family: 'Mukta Vaani', sans-serif;
  font-weight: 400;
  background-color: #9D0208;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  border-radius: 10px;
}

#recipe-link-btn {
  margin-bottom: 20px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS) */
.ingredient-btn:hover,
#recipe-link-btn:hover {
  background-color: #fff;
  color: #9D0208;
  border: 3px solid #9D0208;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  margin-top: 10px;
  padding: 0 18px;
  display: none;
  overflow: hidden;
  border-radius: 10px;
}

/* media query for screens larger than 320px */
@media screen and (min-width: 320px) {
  .search {
    width: 300px;
  }

  #random-btn {
    width: 300px;
  }
}

/* media query for screens larger than 425px */
@media screen and (min-width: 425px) {
  #landing-text {
    width: 400px;
    font-size: 16px;
  }
}

/* media query for screens larger than 768px */
@media screen and (min-width: 768px) {
  .search {
    width: 450px;
  }

  #random-btn {
    width: 450px;
  }
}

/* media query for screens larger than 1024px */
@media screen and (min-width: 1024px) {
  #title {
    font-size: 72px;
  }

  #landing-text {
    font-size: 18px;
  }

  .recipe-card {
    margin: 4em 2em;
  }
}