@import url('https://fonts.googleapis.com/css2?family=Mada:wght@500;600&family=Mukta+Vaani:wght@300;400&family=Overpass:wght@200;300&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* Generic project styles */
  color: #3a3a3a;
  font-family: 'Mada', sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/katie-smith-uQs1802D0CQ-unsplash.webp) no-repeat fixed center;
}

header {
  color: white;
}

main {
  flex-grow: 1;
  color: #fff;
}

footer {
  background-color: orange;
  margin-top: auto;
}

h1 {
  font-size: 60px;
  text-transform: uppercase;
  text-align: center;
  margin: 25px 2px 10px;
}

h2,
h3 {
  font-family: 'Mukta Vaani', sans-serif;
}

p {
  font-family: 'Overpass', sans-serif;
  text-align: center;
  line-height: 25px;
}


/* Main content */
.recipe-area {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

.search {
  background: #444;
  background: rgba(0, 0, 0, .2);
  border-radius: 3px;
  border: 1px solid #fff;
}

.search-term {
  padding: 10px 5px;
  float: left;
  color: #ccc;
  border: 0;
  background: transparent;
  border-radius: 3px 0 0 3px;
}

.search-term:focus {
  outline: 0;
  background: transparent;
}

.search-btn {
  position: relative;
  float: right;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 40px;
  width: 100px;
  color: #fff;
  background: transparent;
  border-left: 1px solid #fff;
  border-radius: 0 3px 3px 0;
}

.search-btn:hover {
  background: #fff;
  color: #444;
}

.search-btn:focus {
  outline: 0;
}

/* Footer content */